<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.syh.user.mapper.IDbUserMapper">
	<!-- 查询语句 -->
	<select id="listUser" resultType="DbUser" >
			SELECT  u.id,
					s.name,
					u.user_account,
					u.user_password,
					creat_time 
			FROM db_user u
			INNER JOIN	 db_staff s
			ON u.staff_name = s.id
			WHERE u.isdelete=0;
	</select>
	<!-- 查询语句；判断是否存在用户 -->
	<select id="loginByUserNameAndPassword"  resultType="int">
		SELECT COUNT(*) FROM db_user  WHERE user_account=#{user_account} AND user_account=#{user_password} 
	</select>
	<!-- 插入语句 -->
	<insert id="addUser">
		INSERT INTO db_user
		VALUES(#{id},#{staff_name},#{user_account},#{user_password},#{creat_time},#{isdelete});
	</insert>
	<!-- 更新语句 -->
	<update id="updateUser">
		UPDATE db_user SET staff_name=#{staff_name},user_account=#{user_account},user_password=#{user_password} WHERE id=#{id};
	</update>
	<!-- 删除语句 -->
	<delete id="deleteUser">
		UPDATE  db_user SET isdelete='1'
		WHERE id=#{id};
	</delete>
</mapper>